{
  "presets": ["flow", [
      "env", {
          "modules": false,
          "targets": {
              "uglify": true
          },
          "useBuiltIns": true
      }
  ]],

  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],

  "env": {
    "commonjs": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
