{
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "forceAllTransforms": true
      }
    ]
  ],

  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "inline-json-import"
  ],

  "env": {
    "commonjs": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
